body{
	background: url(slid13.jpg);
	background-size: 
}
a{
	color: yellow;
	font-family: tohoma, geneva, sans-serif;
	margin-left: 30px;

}
.cong{
	background: rgba(44,62,80,0.7);
	padding: 40px;
	margin-top: 180px;
	height: 200px;
	margin-left: 40%;
	margin: ;
	width: 240px;
}
h2{
	margin-top: 50px;
	margin-left: 10px;
}